<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>

    </listeners>
    <!--&lt;!&ndash;chrome驱动下载地址：https://www.cnblogs.com/qingqing-919/p/9055285.html&ndash;&gt;-->
    <!--<parameter name="browserDriverUrl" value="D:\workspaces\java\maven\UiAuto\selenium\TestAction-master\src\main\resources\driverExe\chromedriver.exe"/>-->
    <!--<parameter name="url" value="https://beta.kujiale.com"/>-->


    <test name="BaiduTest">
        <parameter name="" value=""></parameter>
        <classes>
            <class name="com.my.selenium.test.BaiduTest">
                <!--<methods>-->
                    <!--<include name="testcase1"/>-->
                    <!--<include name="testcase2"/>-->
                <!--</methods>-->
            </class>
        </classes>
    </test>

</suite>

